body{
    margin:0;
    padding:0;
    background-color: #dad9d9ea;
    font-family: sans-serif;
}
.team-container
{
    width:100%;
    height: auto;
 
}
.text
{
    color:#097e8dfa;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
 
}
.row
{
    width: 60%;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}
@media(max-width: 768px)
{
    .row{
        width: 100%;
    }
}
.profile-card
{
    background-color: #ffffff;
    width: 270px;
    border-radius: 25px;
    height: 250px;
    margin: 20px 10px 10px 10px;
    box-shadow: 3px 3px 3px 3px #b0b0b0;

}
@media(max-width: 468px)
{
    .profile-card
    {
        width: 290px;
        height: 250px;
    }
}
.profile-content
{
    padding:15px;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
.profile-image
{
    text-align: center;
}
.desc
{
    text-align: center;
}
.desc h2
{
    color: rgb(12,172,150);
    font-size: 20px;
}
.desc p{
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -10px;
    color: #000000;
     
}
.btn-div
{
    text-align: center;
    margin-top: 30px;
}
.btn a
{   
    margin-top: 80px;
    background-color: rgb(12,138,121);
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    height: 38px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    border-radius: 3px;
    padding: 10px 25px;
    outline:none;
    border:none;
    text-transform: uppercase;
}

.btn{
    background-color: #fff;
    color: rgb(12, 138, 121);
    cursor: pointer;
    border: 2px solid rgb(12, 138, 121);
    border-radius: 3px;
}